section.about
  .container
    +blockBox("What we do", "Story about us", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.")
    .about-list
     +aboutItem("https://images.unsplash.com/photo-1679487660442-804ec2b61fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", "Flower", "fa fa-heart")
     +aboutItem("https://images.unsplash.com/photo-1679487660442-804ec2b61fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", "Flower", "fa fa-home")
     +aboutItem("https://images.unsplash.com/photo-1679487660442-804ec2b61fa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80", "Flower", "fa fa-cog")
     
