footer.footer
  .container
    .footer-top 
      .footer-column 
        a(href="index.html").footer-heading.footer-heading--logo MoGo
        p.footer-desc.text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda possimus consectetur ipsa eligendi, minima deserunt, quam, aspernatur ad vel a sunt error tempora. Perspiciatis iusto, atque eos veniam fugiat dolore.
        p.footer-follower <strong>15k</strong>followers
        .footer-social 
          span.text Follow Us: 
          .footer-social-list
            a.footer-social-icon(href="#")
             i.fab.fa-facebook
            a.footer-social-icon(href="#")
             i.fab.fa-twitter
            a.footer-social-icon(href="#")
             i.fab.fa-instagram
            a.footer-social-icon(href="#")
             i.fab.fa-pinterest
            a.footer-social-icon(href="#")
             i.fab.fa-youtube
        form.footer-form(action="javascript:void(0)") 
          input(type="email" placeholder="Your Email").footer-form-input
          button.footer-form-button Subscribe
      .footer-column 
        h3.footer-heading Blogs
        a(href="#").footer-blog
          img.footer-blog-image(src="https://images.unsplash.com/photo-1683130461782-2a3f1910da18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2016 
        a(href="#").footer-blog
          img.footer-blog-image(src="https://plus.unsplash.com/premium_photo-1682582583326-3a29cd266fc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2016 
        a(href="#").footer-blog
          img.footer-blog-image(src="https://plus.unsplash.com/premium_photo-1682582583326-3a29cd266fc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text.text--light Jan 9, 2016 
      .footer-column 
        h3.footer-heading Instagram
        .footer-images
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
          .footer-image
            img(src="https://plus.unsplash.com/premium_photo-1665657351648-e63266282d57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80")
        a(href="#").footer-images-more.text.text--light View more photos
    .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>