section.people
  .container
    +blockBox("Happy clients", "What people say")
    ul.people-list
      li.people-item
        img.people-avatar(src="./images/img-people1.png")
        .people-info
          h3.people-name Matthew Dix
          span.people-job.text.text--light Graphic design
          p.people-desc.text publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content
      li.people-item
        img.people-avatar(src="./images/img-people2.png")
        .people-info
          h3.people-name Matthew Dix
          span.people-job.text.text--light Graphic design
          p.people-desc.text publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content
      li.people-item
        img.people-avatar(src="./images/img-people3.png")
        .people-info
          h3.people-name Matthew Dix
          span.people-job.text.text--light Graphic design
          p.people-desc.text publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content
      li.people-item
        img.people-avatar(src="./images/img-people4.png")
        .people-info
          h3.people-name Matthew Dix
          span.people-job.text.text--light Graphic design
          p.people-desc.text publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content
