section.work 
  .container
    +blockBox("What we do", "Some of our work", " Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.")
  .work-list 
    .work-column
      .work-item 
        img.work-image(src="./images/img-work1.png")
        .work-content 
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed 
          span.work-desc Lorem ipsum dolor sit
      .work-item 
        img.work-image(src="./images/img-work2.png")
        .work-content 
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed 
          span.work-desc Lorem ipsum dolor sit
    .work-column
      .work-item 
        img.work-image(src="./images/img-work3.png")
        .work-content 
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed 
          span.work-desc Lorem ipsum dolor sit
      .work-item 
        img.work-image(src="./images/img-work4.png")
        .work-content 
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed 
          span.work-desc Lorem ipsum dolor sit
    .work-column
      .work-item.work-item--full
        img.work-image(src="./images/img-work5.png")
        .work-content 
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed 
          span.work-desc Lorem ipsum dolor sit 
    .work-column
      .work-item 
        img.work-image(src="./images/img-work6.png")
        .work-content 
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed 
          span.work-desc Lorem ipsum dolor sit
      .work-item 
        img.work-image(src="./images/img-work7.png")
        .work-content 
          i.fa.fa-home.work-icon
          h3.work-title Creatively designed 
          span.work-desc Lorem ipsum dolor sit
